output1.mp4
output2.mp4
output3.mp4
output4.mp4
output_5.mp4
output_6.mp4
output_7.mp4
output_videosoutput.mp4


yolov5l.pt
yolov5s.pt
yolov8s.pt

lu_last.pt
lu_best.pt

images
results

input_videos/carla_output2.mp4
input_videos/carla_output3.mp4
input_videos/carla_output4.mp4
input_videos/carla_output5.mp4
input_videos/carla_output6.mp4
input_videos/carla_output7.mp4
input_videos/carla_output8.mp4

src/get_frame.py